#   Ignore everything
*

# Except files
!.gitignore
!.flake8
!.pre-commit-config.yaml
!.coveragerc
!pyproject.toml
!*.py
!*.md
!coverage.xml
!requirements-dev.txt

# ... even if they are in subdirectories
!*/
